@model E_Commerce.Models.ColorModel
@{
    ViewBag.Title = "AddColor";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<!-- page-title-box -->

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h2 class="mb-4 text-center">Color Form</h2>
                        <div class="color-picker-inputs">
                            <form id="SaveColor" action="#" method="post" enctype="multipart/form-data">
                                @Html.HiddenFor(a=>a.ColorID)
                                @Html.HiddenFor(a=>a.Image)
                                <div class="form-group">
                                    <label>Color Name</label>
                                    @Html.TextBoxFor(a => a.ColorName, new { @class = "form-control" })
                                    <span id="spColorName" style="display:none;color:red;font-size:small;">Please Enter ColorName</span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    @Html.DropDownListFor(a => a.Status, new List<SelectListItem>()
                                    {
                                       new SelectListItem() {Text = "--Select--" , Value = "-1"},
                                       new SelectListItem() {Text = "Active" , Value = "1"},
                                       new SelectListItem() {Text = "InActive" , Value = "0"},
                                    }, new { @class = "form-control" })
                                    <span id="spStatus" style="display:none;color:red;font-size:small;">Please Enter Status</span>
                                </div>

                                <div class="form-group">
                                    <label>Image</label>
                                    @Html.TextBoxFor(a => a.ImageFile, new { @class = " dropify", type = "file", data_default_file = "/dropify/noimage.png" })
                                    <span id="spImage" style="display:none;color:red;font-size:small;">Please Enter Image</span>
                                </div>

                                <div class="text-center">
                                    <button type="submit"  id="btnSubmit" class=" btn btn-outline-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
            <!-- end col -->
        </div> <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end page content-->
<div class="wrapper">
    <!-- page-title-box -->
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h2 class="mb-4 text-center">Color Datatable</h2>
                            <div id="divload">
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end page content-->
</div>
@section script{
    <script>
        $(document).ready(function () {
            $(".dropify").dropify();
            SubCategoryList();
        });


        //function validate() {
        //    if ($("#CategoryID").val() != "" && $("#SubCategoryID").val() != "" && $("#ProductName").val() != "" && $("#Status").val() != "" && $("#ImageFile").val() != "") {
        //        SaveData()
        //    }
        //    else {
        //        swal("Error", "Please fill all the required field!");             
        //    }
        //}


        $("#btnSubmit").click(function (e) {
            if (validate() == 3) {
                SaveData();
            }
            else {
                return false;
            }
        });


        function validate() {
          
               var check = 0;
               if ($("#ColorName").val() == "") {
                   $("#spColorName").show();
               }
               else {
                   $("#spColorName").hide();
                   check++;
               }
                if ($("#Status").val() == "-1") {
                   $("#spStatus").show();
               }
               else {
                   $("#spStatus").hide();
                   check++;
               }
                if ($("#ImageFile").val() == "") {
                   $("#spImage").show();
               }
               else {
                   $("#spImage").hide();
                   check++;
            }

               return check;
        }

        function SaveData() {
                event.preventDefault();
                var formData = new FormData(document.getElementById("SaveColor"));
                $.ajax({
                    url: '@Url.Action("Save", "Color")',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (res) {
                        if (res == 1) {
                            swal("Success!", "Successfully Save the Data", "success");
                            SubCategoryList();
                        }
                        else if (res == 2) {
                            swla("Warning!", "Sorry this Color Already Exist", "error");
                        }
                        else {
                            swal("Oops!", "Something went gone wrong", "error");
                        }
                    }
                });
                return false;
        }


        function SubCategoryList() {
            $.ajax({
                type: 'Get',
                url: '@Url.Action("listColor", "Color")',
                success: function (data) {
                    $("#divload").html(data);
                   // $("#tableCategory").DataTable();
                }
            });
        }

        function Delete(id, ImageName) {

            swal({
                title: "Are you Sure",
                text: "Warning: This action cannnot be undone.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {

                if (willDelete) {
                    $.ajax({
                        type: 'Post',
                        url: '@Url.Action("DeleteColor","Color")',
                        data: { id: id, ImageName: ImageName },
                        success: function (data) {
                            if (data == 1) {
                                SubCategoryList();
                            }
                        }
                    });
                }
            });
        }

        function Edit(id) {
            $.ajax({
                type: 'Get',
                url: '@Url.Action("Edit","Color")',
                data: { Colorid: id },
                success: function (data) {
                    $("#ColorID").val(data.ColorID);
                    $("#ColorName").val(data.ColorName);
                    $("#Status").val(data.Status);
                    $('.dropify - render > img').attr('src', data.Image);
                    $("#Image").val(data.Image);
                }
            });
        }
    </script>
}


